<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
</head>
<body>
<input name="getRow" id="getRow" placeholder="输入想要显示的数据条数"  type="text">
<input type="button" value="确定" onclick="Okk()">
</body>
</html>

<script>
    function Okk() {
        var getRow = $("#getRow").val()
        $.ajax({
            url:"/user/list",
            type:"post",
            data:{"row":getRow},
            dataType:"json",//返回的数据类型
            success:function (data) {
                window.location.href="/user/list"
            }
        })
    }
</script>